@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: 'alimama';
  src: url('./assets/fonts/Alimama_DongFangDaKai_Regular.woff');
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular-8.otf');
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
