<button nz-button nzType="primary" (click)="showModal('Add', sendInfo)">
  <span>Add User</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="ModalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk(sendInfo)"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>
    <div *ngIf="ModalTitle === 'Delete' ? true : false">
      是否要删除用户名为{{ sendInfo.username }},账号为{{
        sendInfo.account
      }}的用户
    </div>
    <div *ngIf="ModalTitle === 'Edit' ? true : false" class="sendInfo">
      <input type="text" [(ngModel)]="sendInfo.username" />
      <input type="text" [(ngModel)]="sendInfo.account" />
      <input type="number" [(ngModel)]="sendInfo.age" />
      <div class="select">
        <mat-form-field style="width: 100%">
          <mat-label
            style="font-family: alimama; font-size: 16px; font-weight: 400"
            >Sex</mat-label
          >
          <mat-select
            [(ngModel)]="sendInfo.sex"
            style="font-family: alimama; font-size: 16px; font-weight: 400"
          >
            <mat-option
              *ngFor="let sex of sexs"
              [value]="sex"
              style="font-family: alimama; font-size: 16px; font-weight: 400"
            >
              {{ sex === 0 ? '男' : '女' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="ModalTitle === 'Add' ? true : false" class="sendInfo">
      <input
        type="text"
        [(ngModel)]="addInfo.username"
        placeholder="username"
      />
      <input type="text" [(ngModel)]="addInfo.account" placeholder="account" />
      <input
        type="password"
        [(ngModel)]="addInfo.password"
        placeholder="password"
      />
      <input type="number" [(ngModel)]="addInfo.age" placeholder="age" />
      <div class="select">
        <mat-form-field style="width: 100%">
          <mat-label
            style="font-family: alimama; font-size: 16px; font-weight: 400"
            >Sex</mat-label
          >
          <mat-select
            [(ngModel)]="addInfo.sex"
            style="font-family: alimama; font-size: 16px; font-weight: 400"
          >
            <mat-option
              *ngFor="let sex of sexs"
              [value]="sex"
              style="font-family: alimama; font-size: 16px; font-weight: 400"
            >
              {{ sex === 0 ? '男' : '女' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</nz-modal>
<nz-table
  #nzdata
  [nzData]="listOfDisplayData"
  class="Table"
  [nzSize]="'default'"
  [nzPaginationType]="'small'"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageIndex]="PageIndex"
  [nzPageSize]="PageSize"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="changePageIndex($event)"
>
  <thead>
    <tr>
      <th nzCustomFilter class="cth" [nzWidth]="'20%'">
        用户名
        <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="menu">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th
        class="cth"
        [nzWidth]="'20%'"
        nzShowSort
        (nzSortOrderChange)="sortFn('account', $event)"
      >
        账户
      </th>
      <th
        class="cth"
        [nzWidth]="'10%'"
        nzShowSort
        (nzSortOrderChange)="sortFn('age', $event)"
      >
        年龄
      </th>
      <th
        class="cth"
        [nzWidth]="'10%'"
        [nzFilters]="filterGender"
        (nzFilterChange)="filterFn($event)"
      >
        性别
      </th>
      <th class="cth" [nzAlign]="'center'" [nzWidth]="'40%'">相关操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of nzdata.data">
      <td>{{ user.username }}</td>
      <td>{{ user.account }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.sex === 0 ? '男' : '女' }}</td>
      <td [nzAlign]="'center'">
        <button
          class="delete"
          nz-button
          nzType="primary"
          (click)="showModal('Delete', user)"
        >
          Delete
        </button>

        <button
          class="update"
          nz-button
          nzType="primary"
          (click)="showModal('Update', user)"
        >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- <nz-pagination
  class="pagination"
  [(nzPageIndex)]="PageIndex"
  [nzSize]="'small'"
  (nzPageIndexChange)="getData()"
></nz-pagination> -->
<!-- <nz-pagination
  class="pagination"
  [(nzPageIndex)]="PageIndex"
  [nzSize]="'small'"
  [nzPageSize]="PageSize"
  [nzTotal]="toTal"
  (nzPageIndexChange)="getData()"
></nz-pagination> -->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search username"
        [(ngModel)]="searchValue.username"
      />
      <input
        type="text"
        nz-input
        placeholder="Search account"
        [(ngModel)]="searchValue.account"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
