<ul>
  <li
    routerLink="/manage/users"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <img src="../../assets/users.svg" alt="" />
    <span>用户管理</span>
  </li>
  <li routerLink="/manage/euipment">
    <img src="../../assets//equipment.svg" alt="" /><span>设备管理</span>
  </li>
  <li routerLink="/manage/euipment_maintance">
    <img src="../../assets/equipment2.svg" alt="" /><span
      >设备维修记录管理</span
    >
  </li>
  <li routerLink="/">
    <img src="../../assets/log.svg" alt="" /><span>Log</span>
  </li>
</ul>
